.pageTitle {
  color: red;
  align-items: center;
  padding: 50px;
  margin: 50;
  font: 5em;
}

.dataContainer {
  background: #282c34;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
}

.heartData {
  display: flex;
  width: 33%;
  background: red;
  height: 200px;
  align-items: center;
  align-self: center;
}

.stepsData {
  display: flex;
  width: 33%;
  background: red;
  height: 200px;
  align-items: center;
  align-content: center;
}

.weightData {
  display: flex;
  width: 33%;
  background: red;
  height: 200px;
  align-items: center;
  align-content: center;
}
.date {
  align-content: center;
}
.headerTitle {
  color: whitesmoke;
  display: flex;
  justify-content: last baseline;
  margin-bottom: 50px;
}
