body {
  margin: 0;
  font-family: "Amiri", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background-color: black;
}
.tron {
  height: 90vh;
  margin-bottom: 90px;
}
